input {
    text-align: center;
}

select {
    text-align-last:center;
}

.navbar {
    display: flex;
    justify-content: center;
}

.welcome {
    text-align: center;
    white-space: pre;
}

.notification{
    font-weight: bold;
    color: crimson;
    margin-top: 10px;
    float: bottom;
}
.admin_form {
    display: flex;
    justify-content: center;
    float: top;
}
.admin_page {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.admin_name {
    margin-top: 20px;
}
.admin_pass {
    margin-top: 10px;
}
.admin_button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.job_offer__form {
    padding: 5px;
    border: 5px outset blue;
    margin: 20px;
}
.job_offer {
    text-align: center;
    display: flex;
    justify-content: center;
}
.first5forms {
    margin-top: 5px;
    margin-bottom: 2px;
}
.second5forms {
    margin-bottom: 5px;
}
.other_table{
    text-align: center;
    display: flex;
    justify-content: center;
}
.other_table__form {
    padding: 5px;
    border: 5px outset blue;
    margin: 20px;
}
.other_table__notification {
    float: bottom;
}
.get_record {
    margin-top: 25px;
    text-align: center;
    padding: 5px;
    border: 5px outset blue;
}
.get_record__form {
    margin: 5px;
}
.modify_record{
    width: auto;
}
.modify_record__form{
    margin: 10px;
}
.delete_record {
    margin: 5px;
}
.cascade_delete_record_button {
    font-weight: bold;
    background-color: red;
}

.description {
    display: flex;
    justify-content: center;
}

.everything {
    position: center;
}

.query {
    display: flex;
    justify-content: center;
}
.query__button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.query__select {
    float: left;
}
.query__where {
    margin-left: 5px;
    float: left;
}
.query__where__where {
    float: top;
}
.query__where__and1 {
    margin-left: 22px;
}
.query__where__and2 {
    float: bottom;
    margin-left: 22px;
}

.results {
    margin-top: 20px;
}
.results__table {
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f5;
}
.table__row:nth-child(even) {
    background-color: #e5e5e5;
}
.table__header {
    text-align: center;
}
.table__cell {
    text-align: center;
}

.raw {
    white-space: pre;
}
