{% extends "base.html" %}
{% block body %}
<div class="admin_page">
    <div class="box">
        <div class="admin_form">
            <form method="POST" action="/admin">
                <div class="admin_name"><input type="text" name="name" placeholder="Say my name" autofocus=""></div>
                <div class="admin_pass"><input type="password" name="password" placeholder="u're goddamn"></div>
                <div class="admin_button"><button>Login</button></div>
            </form>
        </div>
        <div class="notification">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {{ messages[0] }}
        {% endif %}
        {% endwith %}
        </div>
    </div>
</div>
{% endblock %}