{% extends "base.html" %}
{% block body %}
    <div class="admin_panel">
        <div class="job_offer">
            <form class="job_offer__form" method="post" action="/admin_panel">
                Add record to JobOffer. All other dependent tables will be populated automatically.
                <div class="first5forms">
                    <input type="text" placeholder="title" name="title">
                    <input type="text" placeholder="location1,location2.." name="location">
                    <input type="text" placeholder="company" name="company">
                    <input type="text" placeholder="company size" name="company_size">
                    <input type="text" placeholder="intern,junior.." name="experience">
                </div>
                <div class="second5forms">
                    <input type="text" placeholder="b2b,permanent.." name="employment_type">
                    <input type="text" placeholder="skill1,skill2.." name="skill_must">
                    <input type="text" placeholder="skill1,skill2.." name="skill_nice">
                    <input type="text" placeholder="jobsite" name="jobsite">
                    <input type="text" placeholder="offer_url" name="offer_url">
                </div>
                <div class="notification">
                    {% with job_offer_add_msg = get_flashed_messages(category_filter=['job_offer']) %}
                    {% if job_offer_add_msg %}
                        {{ job_offer_add_msg[0] }}
                    {% endif %}
                    {% endwith %}
                </div>
                <input value='Insert job offer' type="submit">
            </form>
        </div>
            <div class="other_table">
                <form class="other_table__form" method="post" action="/admin_panel">
                    Add record to
                        <select name="other_table" size="w">
                            <option>--- Choose table ---</option>
                            {% for table in other_tables %}
                                <option value={{table}}>{{table}}</option>
                            {% endfor %}
                        </select>
                    values
                    <input type="text" placeholder="value" name="other_table_value">
                    <input type="text" placeholder="optional value" name="other_table_optional">
                    <input value='Add record' type="submit">
                    <div class="notification">
                        {% with record_to_table_msg = get_flashed_messages(category_filter=['other_table']) %}
                        {% if record_to_table_msg %}
                            {{ record_to_table_msg[0] }}
                        {% endif %}
                        {% endwith %}
                    </div>
                </form>
            </div>
        <div class="get_record">
            <form class="get_record__form" method="post" action="/admin_panel">
                Find record from
                    <select name="get_record_table" size="w">
                        <option>--- Choose table ---</option>
                        {% for table in modify_tables %}
                            <option value={{table}}>{{table}}</option>
                        {% endfor %}
                    </select>
                by column
                     <input type="text" placeholder="column" name="get_record_column">
                        <select name="get_record_operator" size="w">
                        {% for operator in operators %}
                            <option value={{operator}}>{{operator}}</option>
                        {% endfor %}
                        </select>
                    <input type="text" placeholder="value" name="get_record_value">
                <input value='Get record' type="submit">
            </form>
            {% if record_dict %}
                Your record
                <table class="results__table">
                    <tr class="table__header">
                        {% for key in record_dict.keys() %}
                            <th class="table__cell">{{key}}</th>
                        {% endfor %}
                    </tr>
                    <tr class="table__row">
                        {% for value in record_dict.values() %}
                        <td class="table__cell">{{value}}</td>
                        {% endfor %}
                    </tr>
                </table>
                <form class="modify_record__form" method="post" action="/admin_panel">
                    choose column and value to change
                    <select name="modify_record__column_to_change" size="w">
                        <option>--- Choose column ---</option>
                        {% for column in record_column_to_change %}
                            <option value={{column}}>{{column}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" placeholder="value" name="modify_record_value">
                    <input value='Modify record' type="submit">
                </form>
                <div class="notification">
                    {% with record_to_table_msg = get_flashed_messages(category_filter=['record_changed']) %}
                        {% if record_to_table_msg %}
                            {{ record_to_table_msg[0] }}
                        {% endif %}
                    {% endwith %}
                </div>
                <form class="modify_record__delete" method="post" action="/admin_panel">
                    <div class="delete_record">
                        Delete record
                        <input name="delete_record_button" value='Delete record' type="submit">
                        <div class="notification">
                            {% with record_to_table_msg = get_flashed_messages(category_filter=['record_deleted']) %}
                                {% if record_to_table_msg %}
                                    {{ record_to_table_msg[0] }}
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="notification">
                            {% with record_to_table_msg = get_flashed_messages(category_filter=['cannot_delete']) %}
                                {% if record_to_table_msg %}
                                    {{ record_to_table_msg[0] }}
                                    <input class="cascade_delete_record_button" name="cascade_delete_record_button" value='Cascade delete' type="submit">
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    {% else %}
                        <div class="notification">
                            {% with record_to_table_msg = get_flashed_messages(category_filter=['no_record']) %}
                                {% if record_to_table_msg %}
                                    {{ record_to_table_msg[0] }}
                                {% endif %}
                            {% endwith %}
                        </div>
                    {% endif %}
                </form>
        </div>
    </div>
{% endblock %}