{% extends "base.html" %}
{% block body %}
    <div class="admin_panel">
        <div class="job_offer">
            <form class="job_offer__form" method="post" action="/admin_panel">
                Add record to JobOffer. All other dependent tables will be populated automatically.
                <input type="text" placeholder="title" name="title">
                <input type="text" placeholder="location1,location2.." name="location">
                <input type="text" placeholder="company" name="company">
                <input type="text" placeholder="company size" name="company_size">
                <input type="text" placeholder="intern,junior.." name="experience">
                <input type="text" placeholder="b2b,permanent.." name="employment_type">
                <input type="text" placeholder="skill1,skill2.." name="skill_must">
                <input type="text" placeholder="skill1,skill2.." name="skill_nice">
                <input type="text" placeholder="jobsite" name="jobsite">
                <input type="text" placeholder="offer_url" name="offer_url">
                <input value='Insert record' type="submit">
            </form>
            <div class="notification">
                {% with job_offer_add_msg = get_flashed_messages(with_categories=True, category_filter=['job_offer']) %}
                {% if job_offer_add_msg %}
                    {{ job_offer_add_msg[0] }}
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="other_table">
            <form class="other_table__form" method="post" action="/admin_panel">
                Add record to
                    <select name="other_table" size="w">
                        <option>--- Choose column ---</option>
                        {% for table in other_tables %}
                            <option value={{table}}>{{table}}</option>
                        {% endfor %}
                    </select>
                values
                <input type="text" placeholder="value" name="other_table_value">
                <input type="text" placeholder="optional value" name="other_table_optional">
                <input value='add' type="submit">
            </form>
            <div class="notification">
                {% with record_to_table_msg = get_flashed_messages(with_categories=True, category_filter=['other_table']) %}
                {% if record_to_table_msg %}
                    {{ record_to_table_msg[0] }}
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="modify_record">
            <form class="modify_record__form" method="post" action="/admin_panel">
                From
                    <select name="modify_record_table" size="w">
                        <option>--- Choose column ---</option>
                        {% for table in modify_tables %}
                            <option value={{table}}>{{table}}</option>
                        {% endfor %}
                    </select>
                by column
                     <input type="text" placeholder="column" name="modify_record_column">
                        <select name="modify_record_operator" size="w">
                        {% for operator in operators %}
                            <option value={{operator}}>{{operator}}</option>
                        {% endfor %}
                        </select>
                    <input type="text" placeholder="value" name="modify_record_value">
                <input value='Get item' type="submit">
            </form>
        </div>
    </div>
{% endblock %}