{% extends 'base.html' %}
{% block body %}
<h2>SELECT FROM WHERE</h2>
<div class="everything">
    <div class="query">
        <form class="query__form" method='get'>
            <div class="query__select">
                SELECT <input type="textbox" name="columns" value={{old_dict['columns']}}> FROM
                <select name="table" size="w">
                    <option>--- Choose column ---</option>
                    {% for table in tables %}
                        <option value={{table}}>{{table}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="query__where_and">
                <div class="query__where__where">
                    WHERE <input type="textbox" name="key1" value={{old_dict['key1']}}>
                        <select name="operator1" size="w">
                        {% for option in options %}
                            <option value={{option}}>{{option}}</option>
                        {% endfor %}
                        </select>
                    <input type="textbox" name="value1" value={{old_dict['value1']}}>
                </div>
                <div class="query__where__and1">
                    AND <input type="textbox" name="key2" value={{old_dict['key2']}}>
                        <select name="operator2" size="w">
                        {% for option in options %}
                            <option value={{option}}>{{option}}</option>
                        {% endfor %}
                        </select>
                    <input type="textbox" name="value2" value={{old_dict['value2']}}>
                </div>
                <div class="query__where__and2">
                    AND <input type="textbox" name="key3" value={{old_dict['key3']}}>
                        <select name="operator3" size="w">
                        {% for option in options %}
                            <option value={{option}}>{{option}}</option>
                        {% endfor %}
                        </select>
                    <input type="textbox" name="value3" value={{old_dict['value3']}}>
                </div>
            </div>
            <div class="query__button">
                <input value='Show table' type="submit">
            </div>
        </form>
    </div>
    {% block content %}
    <div class="results">
        <table class="table">
            <tr class="table__header">
                {% for header in headers %}
                    <th class="table__cell">{{header}}</th>
                {% endfor %}
            </tr>
            {% for row in dataframe %}
                <tr class="table__row">
                    {% for item in row %}
                    <td class="table__cell">{{item}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
{% endblock %}