<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <select name="nazwa" size="w">
            <option>Tu wpisz pierwszą możliwość</option>
            <option>Tu wpisz pierwszą możliwość</option>
            <option>Tu wpisz drugą możliwość</option>
        </select>
      <ul>
        {% for n in my_list %}
        <li>{{n}}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>