<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="static/styles.css" />
    </head>
    <body>
        <div class="navbar">
            <form action="/">
                <input type="submit" value="Home" />
            </form>
            <form action="/raw">
                <input type="submit" value="Raw" />
            </form>
            <form action="/showtable">
                <input type="submit" value="Interface" />
            </form>
            <form action="/admin" target="_blank">
                <input type="submit" value="Admin" />
            </form>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>